* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
:root {
  --black-color: #2e2d2fe0;
  --darkclack-color: #2e2d2f;
  --orange-color: #eb8c66;
}
body {
  background: rgb(167, 165, 198);
  background: radial-gradient(
    circle,
    rgb(138, 134, 190) 50%,
    rgba(61, 49, 91, 1) 100%
  );
  overflow-x: hidden;
}

#temp {
  background: rgb(167, 165, 198);
  background: radial-gradient(
    circle,
    rgb(138, 134, 190) 50%,
    rgba(61, 49, 91, 1) 100%
  );
}

.container {
  display: block;
  margin: auto;
  width: 80%;
}
.container2 {
  display: block;
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.info-box h3 {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--orange-color);
}
.info-box p {
  font-size: 1.2rem;
  margin: 20px;
  color: var(--darkclack-color);
}

.line {
  display: block;
  margin: auto;
  height: 45px;
  width: 3px;
  background: #2e2d2f;
}

.skinnybox {
  display: block;
  width: 60px;
  /* min-width: 4%; */
  /* min-width: 30px; */
  height: 30vh;
  margin-right: auto;
  margin-left: 6%;
}
.smallbox {
  display: block;
  width: fit-content;
  max-width: 50%;
  min-width: 480px;
  margin: auto;
}
.smallbox2 {
  display: block;
  width: 45%;
  min-width: 45%;
  max-width: 50%;
}

header li {
  display: inline;
  margin: 10px;
}
header a {
  text-decoration: none;
  color: #eb8c66;
  font-size: 1.2rem;
  padding: 7px;
  border-radius: 30px;
  transition: 1s;
}
header a:hover {
  background: rgba(61, 49, 91, 0.575);
  transform: scale(2);
  text-shadow: 0px 0px 3px rgba(238, 238, 238, 0.534);
}
header #mybutton {
  text-align: left;
  padding: 10px;
  background: none;
  border: solid 2px #eb8c66;
  font-size: 1rem;
  color: #2e2d2f;
  border-radius: 30px;
  transition: 1s;
}

header #mybutton:hover {
  background: #2e2d2f;
  color: #eb8c66;
  border-radius: 30px;
  transform: scale(2);
  text-shadow: 0px 0px 10px #eee;
}

#navcontainer {
  display: block;
  padding-top: 30px;
  margin-left: auto;
  width: fit-content;
}

section h1,
h2 {
  margin: 5px;
}
section {
  border-bottom: var(--orange-color) solid 0.1px;
}
#hello {
  text-align: left;
  font-size: 1.2rem;
  color: #eb8c66;
}
#name {
  font-size: 3rem;
  color: #2e2d2fe0;
}
#full-stack {
  text-align: left;
  color: var(--black-color);
  font-size: 1.8rem;
}
#shortsummary {
  text-indent: 35px;
  margin-top: 40px;
  font-size: 1rem;
  color: var(--black-color);
}

section .container {
  padding-top: 25px;
  margin-bottom: 100px;
}
.skinnybox img {
  display: block;
  width: 100%;
  margin-bottom: 6px;
  margin-top: 6px;
}

.skinnybox img:hover {
  border-radius: 50%;
  background: rgb(167, 165, 198);
  background: radial-gradient(
    circle,
    rgb(138, 134, 190) 50%,
    rgba(61, 49, 91, 1) 100%
  );
  border: var(--orange-color) solid 0px;
  animation: shadow-pulse-hover2 2s infinite;
}

#cloud {
  width: 21%;
  display: block;
  margin-left: auto;
  margin-top: 70px;
  animation: cloudemovement 1.2s ease-in-out 0s infinite alternate forwards
    running;
}

@keyframes cloudemovement {
  0% {
  }
  100% {
    transform: rotate(2deg);
  }
}

.smallbox2 {
  margin-top: 80px;
  margin-bottom: 30px;
  transition: 1.5s;
  border-radius: 40px;
  padding: 20px;
  background: #5f50858a;
  box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.45);
}
.smallbox2 li {
  color: var(--darkclack-color);
  list-style: none;
  padding-bottom: 2px;
}
.job {
  margin-bottom: 15px;
}
#school-name {
  font-size: 120%;
}
#job-name {
  list-style: circle;
}
#courses {
  text-indent: 16px;
  list-style: circle;
}
#aboutme {
  color: var(--orange-color);
  margin-bottom: 25px;
  font-size: 1.8rem;
}
.smallbox2 p {
  color: var(--darkclack-color);
}

.smallbox2:hover {
  /*animation: zoom 0.75s ease-in-out 0s 1 alternate forwards;*/
  transform: scale(1.2);
  animation: shadow-pulse-hover 2s 1;
  box-shadow: none;
}
.smallbox2:hover h3 {
  text-shadow: 0px 0px 7px rgba(238, 238, 238, 0.45);
}
#box2 {
  margin-left: auto;
}

@keyframes ani {
  0%,
  25% {
    background: #eb8c66;
  }
  50% {
    background: #ee8157;
  }
  75% {
    background: #f57d4e;
  }
  100% {
    background: #f57543;
  }
}
#contact {
  text-decoration: none;
}

.example-2 {
  display: block;
  margin: auto;
  position: relative;
  top: 80px;
  width: 130px;
  height: 60px;
  font: 10px/55px "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--orange-color);
  text-align: center;
  background: var(--black-color);
  border: none;
  border-radius: 40px;
  animation: shadow-pulse 3s infinite;
  transition: 1s;
}
#test {
  position: relative;
  top: 2px;
}
.example-2:hover {
  transform: scale(1.2);
  background: var(--darkclack-color);
  animation: shadow-pulse-hover 2s infinite;
  text-shadow: 0px 0px 10px #eee;
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}
@keyframes shadow-pulse-hover {
  0% {
    box-shadow: 0 0 0 0px #eb8c6656;
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}
@keyframes shadow-pulse-hover2 {
  0% {
    box-shadow: 0 0 0 0px #eb8c6656;
  }
  100% {
    box-shadow: 0 0 0 13px rgba(0, 0, 0, 0);
  }
}
#c22 h2 {
  text-align: center;
  display: block;
  margin: auto;
  width: fit-content;
  color: var(--darkclack-color);
  font-size: 2.2rem;
}
#c22 {
  padding-top: 70px;
}
#nature {
  width: 31%;
  padding: 0;
  margin: 0;
  display: block;
  margin-left: auto;
  margin-top: -230px;
  margin-right: 10%;
  padding-bottom: 15px;
}
#brainstorm {
  width: 23%;
  padding: 0;
  margin: 0;
  position: relative;
  top: -300px;
}
#box3 {
  position: relative;
  top: -250px;
  margin-bottom: 0;
}
#cloud2 {
  width: 31%;
  padding: 0;
  margin: 0;
  display: block;
  margin-top: -250px;
}
main {
  border-bottom: var(--orange-color) solid 1px;
  background: linear-gradient(
    290deg,
    rgba(63, 51, 93, 0.85) 50%,
    rgba(61, 49, 91, 0.35) 100%
  );
}
#card-section {
  background: rgb(63, 51, 93);
  background: linear-gradient(
    340deg,
    rgba(63, 51, 93, 0.85) 50%,
    rgba(61, 49, 91, 0.35) 100%
  );
}

.newcontainer {
  width: 90%;
  display: block;
  margin: auto;
}
section h2 {
  text-align: center;
}
.container h4 {
  margin-bottom: 50px;
  margin-top: 70px;
}
#skills {
  color: var(--black-color);
  position: relative;
  top: 90px;
  font-size: 20px;
}
#techiveworkedwith {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
  color: var(--orange-color);
  text-shadow: 2px 0px 2px rgba(255, 255, 255, 0.24);
}
#webdev {
  text-align: center;
}
#backend {
  text-align: center;
}

.lanbox img {
  display: block;
  margin: auto;
}
.lanbox {
  width: 30%;
  margin-bottom: 60px;
}
h4 {
  font-size: 24px;
  color: var(--black-color);
}
h5 {
  text-align: center;
  font-size: 14px;
  color: var(--black-color);
}
footer {
  text-align: center;
  color: rgba(43, 43, 43, 0.9);
}

footer .container {
  border-top: rgba(43, 43, 43, 0.616) solid 1px;
}

#project h2 {
  text-align: left;
  color: var(--darkclack-color);
}
#projecttitle h2 {
  text-align: center;
}
.thinbox {
  width: 50%;
  border: black solid 1px;
  border-radius: 40px;
  height: 1.4vh;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.thinbox2 {
  width: 50%;
  background: var(--orange-color);
  border-radius: 40px;
  height: 1vh;
}

@keyframes skill-anime {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#skill-level {
  font-size: 10px;
  color: #2e2d2fb9;
  border-radius: 40px;
  width: fit-content;
  display: block;
  margin: auto;
  animation: skill-anime 3s infinite;
}

/* section for project */
#project h3 {
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
  margin-bottom: 50px;
}
.project-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.prog-item {
  width: 300px;
  height: 30vh;
  background: salmon;
  border: black solid;
}

/* Code for the cards  */
@import url("https://fonts.googleapis.com/css?family=Raleway:200");
body {
  font-family: "Raleway", sans-serif;
}

.wrapper {
  position: relative;
  top: -90px;
  left: 40%;
  width: 300px;
  height: 500px;
  perspective: 900px;
}
.newcontainerr {
  display: block;
  margin: auto;
}
.newcontainer {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: 0.5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  box-shadow: #2e2d2f;
  animation: entry 1s linear 1;
}

#c0 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;
  box-shadow: 0px 20px 100px #555;
}

#c1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
  left: 100%;
  z-index: 0;
}

#c2 {
  left: -100%;
  z-index: 0;
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
}

.newcontainer:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: 0.5s all ease;
  z-index: 400;
}

.image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  background: linear-gradient(to top, #eba65b 30%, #d99267 100%);
}
#testpic {
  width: 80%;
  display: block;
  margin: auto;
}
.cpp {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 7.5%;
}
#i1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

#i2 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

span {
  position: absolute;
  top: 0%;
  left: 55%;
  border-radius: 100%;
  background-color: #fff;
  z-index: 10;
}

.sun {
  position: absolute;
  top: 50%;
  height: 50%;
  left: 0%;
  width: 100%;
}

.sun1 {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px #fff;
}

.st4 {
  fill: #f8c56f;
  opacity: 1;
}

.st5,
.st7 {
  fill: #fff;
}

#sh2 {
  opacity: 0.5;
}

#sh3 {
  opacity: 0.3;
}

.st6 {
  fill: #59476f;
}

.st10 {
  fill: #c5a7e5;
  stroke: #222;
}

.st11 {
  stroke: #212121;
  opacity: 0.5;
}

#sh1 {
  fill: #f8c56f;
  opacity: 0.4;
}

.st0 {
  fill: #a25a62;
  stroke: none;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  stroke: #a25a62;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #cd775c;
}

.st3 {
  fill: #fff;
  opacity: 0.3;
}

.story {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 55%;
  width: 100%;
  background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%);
  z-index: 30;
}

#s1 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
}

#s2 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
}

.info {
  position: absolute;
  top: 10%;
}
#card-name {
  text-align: center;
  text-shadow: 0px 0px 10px #eee;
  color: #eee;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
#card-info {
  font-size: 14px;
  color: #fff;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}
.page {
  position: absolute;
  top: 80%;
  width: 100%;
  left: 0%;
  height: 20%;
  z-index: 30;
}

@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}
